/* #project{
    margin-top: 12rem;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 4rem;
}

.projcont{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 60px 20px 20px;
}

.project{
    background: #081b29;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid transparent;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(14, 255, 255, 0.2);
    border: 1px solid #0ef;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 238, 255);
    margin-bottom: 10px;
}

.content {
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-box{
    padding: 20px 40px;
    background: #0ef;
    color: black;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 0 4px #0ef, 0 0 8px #0ef;
    margin-top: auto;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-box:hover {
    box-shadow: 0 0 10px #0ef, 0 0 20px #0ef;
    transform: scale(1.05);
    text-decoration: none !important;
    color: black;
}

.project-links{
    display: flex;
    justify-content: center;
}

@media(max-width : 550px) {
    #project{
        font-size: 45px;
    }    
} */